---
const title = 'Astro';
const desc = '专为速度而设计的一体化web框架';
---

<div class="link-card">
  <a href="https://astro.build/" target="_blank">
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <p>
      {desc}
    </p>
  </a>
</div>
